[submodule "kvikdos"]
	path = kvikdos
	url = https://github.com/ddanila/kvikdos.git
	branch = custom
	ignore = untracked
[submodule "dosemu2"]
	path = dosemu2
	url = https://github.com/ddanila/dosemu2.git
	branch = custom
	ignore = untracked
[submodule "dwed"]
	path = dwed
	url = https://github.com/ddanila/dwed.git
	branch = custom
	ignore = untracked
