*.log -text -whitespace
*.bin -text -diff -whitespace
*.cfg -text -whitespace

# Preserve startup files extracted from installed DOS images.
*install-*.BAT -text whitespace=blank-at-eol,blank-at-eof,space-before-tab,cr-at-eol
*install-*.SYS -text whitespace=blank-at-eol,blank-at-eof,space-before-tab,cr-at-eol
